@model ExpensesTracker.Models.ExpensesListViewModel

@{
    ViewData["Title"] = "Details";
}


<div class="d-flex flex-column">
    <h2>@Model.List.Name</h2>
    <div class="d-flex flex-column">
        @foreach (var expense in Model.Expenses)
        {
            <a asp-controller="Expense" asp-action="Details" asp-route-id="@expense.Id" class="d-block d-flex flex-row justify-content-between align-items-center w-100 py-3 px-2 bg-light border rounded text-decoration-none text-black mb-2">
                <div class="d-flex flex-column">
                    <p class="mb-0">@expense.Title, @expense.Date.ToString("dd/MM/yyyy")</p>
                    <p class="mb-0">@expense.Amount zł</p>
                </div>
                <div>Zdjęcie</div>
            </a>
        }
    </div>
</div>
