@model ExpensesTracker.Models.ExpensesListViewModel

@{
    ViewData["Title"] = "Details";
}


<div class="d-flex flex-column">
    <div class="d-flex flex-row justify-content-between align-items-center">
        <div>
            <h4>@Model.List.Name</h4>
        </div>
        <div class="d-flex flex-row gap-2">
            <a asp-controller="Expense" asp-action="Create">
                <button class="btn btn-primary">Stwórz nowy wydatek</button>
            </a>
            @if (@Model.UserId == @Model.List.OwnerId)
            {
                <a asp-route="ListShare" asp-route-listId="@Model.List.Id">
                    <button class="btn btn-primary">Udostępnij</button>
                </a>
                <a asp-action="Edit" asp-route-id="@Model?.List.Id">
                    <button class="btn btn-primary">Edytuj</button>
                </a>
                <a asp-action="Delete" asp-route-id="@Model?.List.Id">
                    <button class="btn btn-danger">Usuń</button>
                </a>
            }
            <a asp-action="Index">
                <button class="btn btn-secondary">Powrót</button>
            </a>
        </div>
    </div>
    <hr/>
    <div class="d-flex flex-column">
        @foreach (var expense in Model.Expenses)
        {
            <div class="row rounded bg-white shadow-sm m-0 mb-2">
                <div class="col-12 p-2">
                    <a asp-controller="Expense" asp-action="Details" asp-route-id="@expense.Id" class="d-block text-decoration-none text-black">
                        @* <h6 class="mb-0">@expense.Title, @expense.Date.ToString("dd/MM/yyyy")</h6> *@
                        <p class="mb-0">@expense.Amount zł</p>
                    </a>
                 </div>
            </div>
        }
    </div>
</div>
