@model ExpensesTracker.Models.Expense

@{
    ViewData["Title"] = "Edit";
}

<div class="d-flex flex-column">
    <div class="d-flex flex-row justify-content-between align-items-center">
        <h4 class="mb-0">@Html.DisplayFor(model => model.Title)</h4>
        <div>
            <a asp-action="Details" asp-route-id="@Model.Id">
                <button class="btn btn-secondary">Powrót</button>
            </a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-6">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Amount" class="control-label"></label>
                    <input asp-for="Amount" type="number" step="any" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="ListId" class="control-label"></label>
                    <select asp-for="ListId" class="form-control" asp-items="ViewBag.ListId">
                        <option value="">Wybierz listę (opcjonalne)</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Zapisz" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <div class="col-6 position-relative">
        @if (@Model.ReceiptPhoto != null)
            {
                <img class="img-fluid" src="@Model.ReceiptPhoto.Path" alt="Zdjęcie paragonu"/>
                <div class="position-absolute top-0 end-0 mt-1 me-4">
                    <form asp-action="DeleteReceiptPhoto" asp-route-expenseId="@Model.Id" method="post">
                        <button type="submit" class="btn-icon">
                            <i class="bi bi-x-circle-fill text-white h3"></i>
                        </button>
                    </form>
                </div>
            }
            else
            {
                <div class="d-flex w-100 h-100 justify-content-center align-items-center">
                    <form asp-action="AddReceiptPhoto" asp-route-expenseId="@Model.Id" method="post" enctype="multipart/form-data">
                        <div class="form-group mb-2">
                            <input name="photo" type="file" class="form-control"/>
                            <span asp-validation-for="@Model.ReceiptPhoto.Photo" class="text-danger"></span>
                            <input type="submit" value="Dodaj zdjęcie" class="btn btn-primary mt-2" />
                        </div>
                    </form>
                </div>
            }
        </div>
    </div>
</div>

