@model IEnumerable<ExpensesTracker.Models.Expense>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex flex-column">
    <h1>Twoje wydatki</h1>
    <div class="mt-2 mb-4">
        <a asp-action="Create" class="text-decoration-none text-white">
            <button class="btn btn-dark">
                Stwórz nowy wydatek
            </button>
        </a>
    </div>
    @foreach (var item in Model)
    {
        <div class="row rounded bg-light mb-2">
            <div class="col-11 p-2">
                <a asp-action="Details" asp-route-id="@item.Id" class="d-block text-decoration-none text-black">
                    <h6 class="m-0">@item.Title, @item.Date.ToString("dd/MM/yyyy")</h6>
                    <p class="m-0">@item.Amount zł</p>
                </a>
            </div>
            <div class="col-1 p-0 bg-danger rounded-end d-flex justify-content-center align-items-center">
                <a asp-action="Delete" asp-route-id="@item.Id" class="d-block w-100 h-100 text-decoration-none text-black d-flex align-items-center justify-content-center">
                    <i class="bi bi-trash3-fill text-white"></i>
                </a>
            </div>
        </div>
    }
</div>
